---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News Section -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest Posts Section -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Publications Toggle Section -->
    <div class="publications-header">
        <h1>Publications 
            (<span id="toggle-selected" class="toggle-link toggle-active">Selected</span> | 
             <span id="toggle-full-list" class="toggle-link toggle-inactive">Full List</span>)
        </h1>
    </div>
    <div id="publications-content">
        <div id="selected-papers" style="display: block;">
            {% include selected_papers.liquid %}
        </div>
        <div id="full-list-papers" style="display: none;">
          <div class="publications">
            {% bibliography %}
          </div>
        </div>
    </div>

    <!-- Social Section -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>

<script>
    document.getElementById('toggle-full-list').addEventListener('click', function() {
        document.getElementById('selected-papers').style.display = 'none';
        document.getElementById('full-list-papers').style.display = 'block';
        updateToggle('full');
    });

    document.getElementById('toggle-selected').addEventListener('click', function() {
        document.getElementById('full-list-papers').style.display = 'none';
        document.getElementById('selected-papers').style.display = 'block';
        updateToggle('selected');
    });

    function updateToggle(active) {
        var selected = document.getElementById('toggle-selected');
        var fullList = document.getElementById('toggle-full-list');
        if(active === 'full') {
            selected.classList.remove('toggle-active');
            selected.classList.add('toggle-inactive');
            fullList.classList.add('toggle-active');
            fullList.classList.remove('toggle-inactive');
        } else {
            selected.classList.add('toggle-active');
            selected.classList.remove('toggle-inactive');
            fullList.classList.remove('toggle-active');
            fullList.classList.add('toggle-inactive');
        }
    }
</script>
<style>
    .toggle-link {
        cursor: pointer;
        color: purple;
        margin: 0 5px;
    }

    .toggle-active {
        text-decoration: underline;
    }

    .toggle-inactive {
        text-decoration: none;
    }
</style>
